<!DOCTYPE html>
<html lang="en">
<head>
<title>*{SETTING_SEO_METATITLE}*</title>
<meta name="description" content="*{SETTING_SEO_METADESCRIPTION}*" />
<meta name="robots" content="*{SETTING_SEO_INDEXABLE}*" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?*{googlefonts}*&display=swap" rel="stylesheet">
<script type="text/javascript" src="/js/cookies.js"></script>
<script src="https://kit.fontawesome.com/3481d5ebda.js" crossorigin="anonymous"></script>
<style>
	:root {
		--css_header_bg: *{CSS_HEADER_BG}*;
		--css_header_hover: *{CSS_HEADER_HOVER}*;
		--css_header_text: *{CSS_HEADER_TEXT}*;
		--css_tabs_cart: *{CSS_TABS_CART}*;
		--css_title: *{CSS_TITLE}*;
		--css_links: *{CSS_LINKS}*;
		--css_font: *{CSS_FONT}*;
		--css_button_bg: *{CSS_BUTTON_BG}*;
		--css_button_text: *{CSS_BUTTON_TEXT}*;
		--css_button_contrast: *{CSS_BUTTON_CONTRAST}*;
		--css_footer_bg: *{CSS_FOOTER_BG}*;
		--css_footer_text: *{CSS_FOOTER_TEXT}*;
		--css_calendar_active: *{CSS_CALENDAR_ACTIVE}*;
		--css_calendar_hover: *{CSS_CALENDAR_HOVER}*;
	}
</style>

<link href="/css/featherlight/featherlight.min.php" media="all" rel="stylesheet" type="text/css">
<link href="/css/style.php" media="all" rel="stylesheet" type="text/css">
</head>
<body onload="sitecenter_cookies_enabled('*{ucookiesenabled}*');">

<div class="outer urow">
<!-- START BLOCK : COOKIES -->
	<div class="inner cookies urow" id="cookienotice">
		<div class="inner-inner">
			<div class="inner ucentered">
				<noscript>To enable us to provide you with the best experience, please enable JavaScript in your browser. By using this website you agree to our use of cookies to provide you with the best experience.</noscript>
				<span id="nocookies" style="display:none;">Please enable your browser to accept cookies to enjoy the best experience from this website.</span>
				<span id="cookies" style="display:none;"><span class="tabletmobilerow">By using this website you agree to our use of cookies to provide you with the best experience.</span><span class="tabletmobilerow"><a href="#" id="removecookie" class="cookiebutton" title="Click to dismiss this message">Dismiss</a><a class="cookiebutton changepage" href="#cookies" title="Cookies on *{usitename}*" rel="nofollow">More Info</a></span></span>
			</div>
		</div>
	</div>
<!-- END BLOCK : COOKIES -->
	<div class="inner top urow">
		<div class="inner-inner">
			<div class="inner-inner-inner">
				<div class="top-left imageblock"><a href="#home" class="changepage logo" tabindex="1"><img src="*{SETTING_LOGO}*" class="uimagerw"></a></div>
				<div class="top-middle-right">
					<div class="top-middle"><i class="fas fa-phone-alt"></i> Tel: <a href="tel:*{SETTING_TELEPHONE}*" title="Call" tabindex="2">*{SETTING_TELEPHONE}*</a></div>
					<div class="top-right">
						<ul>
							<li><a id="home" href="#home" class="top-right-nav changepage" tabindex="3">
								<div class="top-right-top urow">
									<div class="top-right-top-icon uround"><i class="fas fa-home"></i></div>
								</div>
								<div class="top-right-bottom urow">Home</div>
							</a></li>
							<li><a id="account" href="#account" class="top-right-nav changepage" tabindex="4">
								<div class="top-right-top urow">
									<div class="top-right-top-icon uround"><i class="fas fa-user"></i></div>
								</div>
								<div class="top-right-bottom urow">Account</div>
							</a></li>
							<li><a id="cart" href="#cart" class="top-right-nav changepage" tabindex="5">
								<div class="top-right-top urow">
									<div class="top-right-top-icon uround"><i class="fas fa-shopping-cart"></i></div>
								</div>
								<div class="top-right-bottom urow">Cart</div>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="top-cart uround" id="top-cart-items">0</div>
			</div>
		</div>
	</div>
	<div class="inner content urow">
		<div class="inner-inner">
			<div class="inner-inner-inner">
				<div class="urow content-top" id="maincontent"></div>
				<div class="urow content-bottom">*{SETTING_TEXT}*</div>
			</div>
		</div>
	</div>
	<div class="inner footer urow">
		<div class="inner-inner">
			<div class="inner-inner-inner">
				<div class="footer-left">
					<div class="footer-left-top sitefont">Payments We Accept</div>
					<div class="footer-left-bottom">
						<ul>
<!-- START BLOCK : SAGE -->
							<li><img src="/img/sage.png" alt="SagePay" class="uimagerw"/></li>
<!-- END BLOCK : SAGE -->
<!-- START BLOCK : PAYPAL -->
							<li><img src="/img/paypal.png" alt="PayPal" class="uimagerw"/></li>
<!-- END BLOCK : PAYPAL -->
<!-- START BLOCK : APPLE -->
							<li><img src="/img/apple.png" alt="Apple Pay" class="uimagerw"/></li>
<!-- END BLOCK : APPLE -->
						</ul>
					</div>
				</div>
				<div class="footer-right">
					<div class="footer-right-inner">
						<div class="urow">&copy; Copyright *{U_YEAR}* *{SETTING_TITLE}*</div>
						<div class="urow">
							<ul>
								<li class="notlast"><a href="#terms" class="changepage" tabindex="91">Terms &amp; Conditions</a></li>
								<li class="notlast"><a href="#privacy" class="changepage" tabindex="92">Privacy Policy</a></li>
								<li class="notlast"><a href="#cookies" class="changepage" tabindex="93">Cookie Policy</a></li>
								<li><a href="#refunds" class="changepage" tabindex="94">Refund Policy</a></li>
							</ul>
						</div>
						<div class="urow">Powered by <a href="*{INSTALL_VISITICKETS}*" title="Visitickets" target="_blank" tabindex="95">Visitickets</a><i class="fas fa-long-arrow-alt-right" style="margin-left:10px;"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	const GENERIC_ERROR_MSG = '*{SETTING_GENERIC_ERROR_MSG}*';
	const NAME_REQUIRED = *{SETTING_NAMEREQUIRED}*;
	const POSTDATA = *{postdata}*;
	let CONFIRMD = *{confirmd}*;
	let ORDERCOMPLETED = *{ordercompleted}*;
</script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="/js/page-account-details.js"></script>
<script type="text/javascript" src="/js/page-account-password.js"></script>
<script type="text/javascript" src="/js/page-account-orders-view.js"></script>
<script type="text/javascript" src="/js/page-account-orders-update.js"></script>
<script type="text/javascript" src="/js/page-account-memberships.js"></script>
<script type="text/javascript" src="/js/page-cart.js"></script>
<script type="text/javascript" src="/js/page-checkout.js"></script>
<script type="text/javascript" src="/js/page-checkout-memberships.js"></script>
<script type="text/javascript" src="/js/page-checkout-summary.js"></script>
<script type="text/javascript" src="/js/page-category.js"></script>
<script type="text/javascript" src="/js/page-event-tickets.js"></script>
<script type="text/javascript" src="/js/page-event-time.js"></script>
<script type="text/javascript" src="/js/page-event-memberships.js"></script>
<script type="text/javascript" src="/js/page-event-buymemberships.js"></script>
<script type="text/javascript" src="/js/page-forgotpassword.js"></script>
<script type="text/javascript" src="/js/page-login.js"></script>
<script type="text/javascript" src="/js/page-register.js"></script>
<script type="text/javascript" src="/js/page-resetpassword.js"></script>
<script type="text/javascript" src="/js/postcode-lookup.js"></script>
<script type="text/javascript" src="/js/featherlight/featherlight.min.js"></script>
<script type="text/javascript" src="/js/shared.js"></script>
*{SETTING_CODE_ALL}*
</body>
</html>