	<div class="urow tabs-empty scrollbox">
		<div class="urow ucentered">
			<h1 class="sitefont">What would you like to do?</h1>
		</div>
		<div class="urow home-area">
<div class="home-box-container">
			<a href="#categories" title="*{SETTING_TAB_CATEGORIES}*" class="changepage" onclick="loader(this);"><div class="home-box left">
				<div class="urow home-box-mobileimg"><img src="*{SETTING_HOME_CATEGORY_IMAGE}*" alt="*{SETTING_TAB_CATEGORIES}*" class="uimagerh"></div>
				<div class="urow home-box-top sitefont">*{SETTING_TAB_CATEGORIES}*</div>
				<div class="urow home-box-bottom">
					<div class="home-box-bottom-left">
						<div class="urow home-box-bottom-left-top">*{SETTING_HOME_CATEGORY_TEXT}*</div>
						<div class="urow home-box-bottom-left-bottom"><div class="sitebutton sitefont">*{SETTING_HOME_CATEGORY_BUTTON}*</div></div>
					</div>
					<div class="home-box-bottom-right"><img src="*{SETTING_HOME_CATEGORY_IMAGE}*" alt="*{SETTING_TAB_CATEGORIES}*" class="uimagerh"></div>
				</div>
			</div></a>
			<a href="#calendar" title="*{SETTING_TAB_CALENDAR}*" class="changepage" onclick="loader(this);"><div class="home-box">
				<div class="urow home-box-mobileimg"><img src="*{SETTING_HOME_EVENT_IMAGE}*" alt="*{SETTING_TAB_CALENDAR}*" class="uimagerh"></div>
				<div class="urow home-box-top sitefont">*{SETTING_TAB_CALENDAR}*</div>
				<div class="urow home-box-bottom">
					<div class="home-box-bottom-left">
						<div class="urow home-box-bottom-left-top">*{SETTING_HOME_EVENT_TEXT}*</div>
						<div class="urow home-box-bottom-left-bottom"><div class="sitebutton sitefont">*{SETTING_HOME_EVENT_BUTTON}*</div></div>
					</div>
					<div class="home-box-bottom-right"><img src="*{SETTING_HOME_EVENT_IMAGE}*" alt="*{SETTING_TAB_CALENDAR}*" class="uimagerh"></div>
				</div>
			</div></a>
</div>
		</div>
	</div>