	<div class="urow breadcrumbs">
		<ul>
			<li class="notlast"><a href="#account" title="Account" class="changepage">Account</a></li>
			<li>Your Password</li>
		</ul>
	</div>
	<div class="urow">
		<h2 class="sitefont">Your Password</h2>
	</div>
	<form name="checkout" id="checkout" action="#" method="post">
	<div class="urow uinlineerror uhide uspaced-small" id="formerror">Please correct the errors highlighted below:</div>
	<div class="urow uinlinesuccess uhide uspaced-small" id="formsuccess">Confirmation: Your details have been successfully updated.</div>
	<div class="urow form-row">
		<div class="form-row-label form-help">New Password<span class="form-required">*</span>
			<div class="tooltip"><i class="fas fa-question-circle"></i>
				<div class="tooltip-left">Your password must contain at least one number, one special character, one lower case letter and one upper case letter.<i></i></div>
			</div></div>
		<div class="form-row-field"><input name="password" id="password" type="password" size="20" value="*{password}*" tabindex="1" class="textbox large normal" required="required"></div>
	</div>
	<div class="urow form-row">
		<div class="form-row-label">Repeat Password<span class="form-required">*</span></div>
		<div class="form-row-field"><input name="passwordrepeat" id="passwordrepeat" type="password" size="20" value="" tabindex="2" class="textbox large normal" required="required"></div>
	</div>
	<div class="urow form-row">
		<div class="form-row-label">Old Password<span class="form-required">*</span></div>
		<div class="form-row-field"><input name="oldpassword" id="oldpassword" type="password" size="20" value="" tabindex="3" class="textbox large normal" required="required"></div>
	</div>
	<div class="urow account-next"><input type="button" name="submit-accpswd-form" id="submit-accpswd-form" value="Update Password" class="sitebutton sitefont" tabindex="4" onclick="loader(this);"/></div>
	</form>