	<div class="urow">
		<h2 class="sitefont">Reset Your Password</h2>
		<p>If you have forgotten your password your can reset it by entering your email address below:</p>
	</div>
	<form name="checkout" id="checkout" action="#" method="post">
	<div class="urow uinlineerror uhide uspaced-small" id="forgot-formerror">Please correct the errors highlighted below:</div>
	<div class="urow uinlinesuccess uhide uspaced-small" id="forgot-formsuccess">Confirmation: We have sent an email to your address.</div>
	<div class="urow form-row">
		<div class="form-row-label">Email<span class="form-required">*</span></div>
		<div class="form-row-field"><input name="email" id="email" type="email" size="20" value="*{email}*" tabindex="1" class="textbox large normal" required="required"></div>
	</div>
	<div class="urow account-next"><input type="button" name="submit-forgotpswd-form" id="submit-forgotpswd-form" value="Send Password Reset Email" class="sitebutton sitefont" tabindex="2" onclick="loader(this);"/></div>
	</form>