	<div class="urow tabs-top">
		<div class="tabs">
			<ul>
				<li><a href="#categories" title="*{SETTING_TAB_CATEGORIES}*" class="changepage first">
					<div class="tabs-main"><i class="fas fa-ticket-alt"></i>*{SETTING_TAB_CATEGORIES}*</div>
				</a></li>
				<li><a href="#calendar" title="*{SETTING_TAB_CALENDAR}*" class="changepage last active">
					<div class="tabs-main"><i class="fas fa-calendar-alt"></i>*{SETTING_TAB_CALENDAR}*</div>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="urow tabs-bottom" id="event-tickets-cont">
		<form id="event-tickets">
<!-- START BLOCK : DONATIONPRICETOGGLE -->
		<div class="product-toggle urow">
			<div class="product-toggle-right">With Donation</div>
			<div class="product-toggle-middle"><label class="switch"><input type="checkbox" *{checked}* id="donations_toggle_event"><span class="slider round"></span></label></div>
			<div class="product-toggle-left">Without Donation</div>
			<div class="product-toggle-pre">Show Prices:</div>
		</div>
<!-- END BLOCK : DONATIONPRICETOGGLE -->
		<div class="urow">
			<h1 class="sitefont">*{name}*</h1>

			<!-- START BLOCK : DESCRIPTION -->
			<p class="usubtitle">How many tickets would you like?</p>
			<!-- END BLOCK : DESCRIPTION -->

			<!-- START BLOCK : SELECTEDDATE -->
			<p style="margin-top: -25px;">Selected Day: *{date}*</p>
			<!-- END BLOCK : SELECTEDDATE -->

			<!-- START BLOCK : NOEVENTSESSIONS -->
			<p>There are no available tickets for this event.</p>
			<!-- END BLOCK : NOEVENTSESSIONS -->
		</div>
		<div class="urow">
<!-- START BLOCK : ITEM -->
			<div class="product-row catalog urow item odd product-row-left" data-id="*{id}*" data-price="*{price}*" data-donation-price="*{donationprice}*" data-nodonation-price="*{nodonationprice}*" data-quantity="*{quantity}*" data-maxquantity="*{maxquantity}*" data-minquantity="*{minquantity}*">
				<div class="product-row-picture"><img src="*{picture}*" alt="*{name}*" data-featherlight="*{picture}*"></div>
				<div class="product-row-left">
					<div class="product-row-title">
						<div class="product-row-title-top urow">*{name}*</div>
						<div class="product-row-title-bottom urow">*{description}*</div>
					</div>
					<div class="product-price-qty">
						<div class="product-row-price">&pound;<span>*{price}*</span></div>
						<div class="product-row-qty toppadding">
							<div class="product-row-qty adjust less"><a href="#" title="Remove"><i class="fas fa-minus-circle"></i></a></div>
							<div class="product-row-qty adjust amount"><input name="qty[*{id}*]" id="qty_*{id}*" type="number" size="2" value="0" class="textbox cart noarrows" required="required"></div>
							<div class="product-row-qty adjust more"><a href="#" title="Add"><i class="fas fa-plus-circle"></i></a></div>
						</div>
					</div>
				</div>
			</div>
<!-- END BLOCK : ITEM -->
			<!-- START BLOCK : TOTAL -->
			<div class="total-row urow" data-total="*{total}*">
				<div class="product-row-picturetitle">
					<div class="product-row-title-top urow" style="margin-left:20px;">Total</div>
				</div>
				<div class="product-row-price">&pound;<span>0.00</span></div>
				<div class="product-row-qty"><a href="#event-time_*{id}*" title="Select Date &amp; Time" class="sitebutton sitefont changepage event-time" onclick="loader(this);">Select Date &gt;</a></div>
				<input type="hidden" name="eventid" value="*{id}*">
			</div>
			<div class="urow uhide uinlineerror uspaced-small ucentered" id="formerror">Please select at least one item you wish to purchase.</div>
			<!-- END BLOCK : TOTAL -->
		</div>
		</form>
	</div>