	<div class="urow">
		<h1>My Account</h1>
	</div>
<!-- START BLOCK : SHOWSUCCESS -->
	<div class="urow uinlinesuccess uspaced-small" id="formsuccess">*{successmessage}*</div>
<!-- END BLOCK : SHOWSUCCESS -->
	<div class="urow account">
		<ul>
			<li><a href="#account-details" title="Update Account Details" class="changepage">Update Account Details</a></li>
			<li><a href="#account-password" title="Update Password" class="changepage">Update Password</a></li>
			<li><a href="#account-orders" title="View Orders" class="changepage">View Orders</a></li>
			<li><a href="#account-memberships" title="View Memberships" class="changepage">View *{SETTING_PASSTITLE_PLURAL}*</a></li>
			<li><a href="#account-logout" title="Logout" class="changepage">Logout</a></li>
		</ul>
	</div>